.info {
	position: absolute;
	top: 0;	
	left: 0;
	width: 20%;
	height: 100%;
	background-color: grey;
}

.list {
	position: absolute;
	top: 0;	
	right: 0;
	width: 80%;
	height: 100%;
	overflow: scroll;

	background-color: lightseagreen;
}